*.pdf
node_modules/
dist/
.env
.DS_Store
.vscode/
*.log
.idea/
*.swp
coverage/
firstServer/node_modules/
firstServer/.env
TodoApp-backend/node_modules/
TodoApp-backend/.env
TodoApp-PRISMA/node_modules/
TodoApp-PRISMA/.env
jwtPractice/node_modules/
jwtPractice/.env
